* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-size: calc(10px + 0.4vw + 0.4vh);
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    color: var(--text);
    scrollbar-color: #7a7a7a #4b4b4b;
    z-index: 2;
}

:root {
    --text: white;
    --background: linear-gradient(to bottom, rgb(23, 25, 26), rgb(44, 42, 51));
    --purplegray: rgb(65, 59, 78);
    --lightpurples: rgb(182, 153, 250);
    --purples: rgb(111, 82, 177);
    --borderA: #818181;
    --borderB: #e6e6e6;
    --accent: rgb(236, 178, 4);
    --monochrome1: rgb(121, 128, 133);
    --footbg: rgb(22, 25, 30);
    --alttext: rgb(0, 0, 0);
    --LibsBG1 : rgb(133, 100, 209);
    --LibsBG2 : rgb(28, 51, 112);
    --LibsBG3: #818181;
    --LibsBG4: rgb(133, 129, 121);
    --libsBG5: rgb(219, 212, 198);
    --LibsGrad1: linear-gradient(to right bottom, var(--LibsBG1), var(--LibsBG2));
    --LibsGrad2: linear-gradient(to bottom, var(--LibsBG1), var(--libsBG6));
}
html {
    scroll-behavior: smooth;
    background: var(--background);
    min-height: 100vh;
    z-index: 0;
}
body {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    z-index: 1;
}

body::-webkit-scrollbar {width: 9px; height: 3px; background: #474747;}
body::-webkit-scrollbar-thumb {background-color:#b7b7b7 ; border: 1px solid black;}

/* dialogs */
#add-dialog::-webkit-scrollbar,
#edit-dialog::-webkit-scrollbar,
#update-dialog::-webkit-scrollbar {
    opacity: 0;
    width: 0;
}
#add-dialog, #edit-dialog, #update-dialog {
    display: none;
}
textarea {
    resize: none;
}

pre {
    background-color: rgb(232, 232, 232);
    color: #424242;
}
code {
    background-color: rgb(232, 232, 232);
    color: #424242;
}
p code {
    color: #ffffff;
}
.pre-line {
    white-space: pre-line;
}

/* input (these rarely need customizing)*/

.inptxt,
.inpselect {
    margin: 5px 0 0 0;
    padding: 7px;
    border-radius: 10px;
    color: black;
}
.inpselect option {
    color: black;
}
.promptText {
    margin: -10px 0 0 0;
    text-align: center;
    color: white;
}
.promptText .LRredirect {
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: rgb(4, 125, 182);;
    text-decoration: underline;
}
.hiddeninp {
    height: 0;
    font-size: 0;
    border: none;
    background: transparent;
    color: transparent;
}

/* general stylized content */
section {
    width: 88%;
    min-height: 20vh;
    height: max-content;
    display: flex;
}
a {
    transition: all 0.3s;
}
span {
    font-size: inherit;
    background: var(--lightpurples);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* bg */
.bg-def-1 {
    background: linear-gradient(to bottom, rgb(28, 30, 31), rgb(41, 40, 43));
}
.bg-half-gray {
    background: rgba(105, 105, 105, 0.466);
}
.bg-half-white {
    background: rgba(255, 255, 255, 0.466);
}
.bg-transparent {
    background: transparent;
}

.bgc-black {
    background-color: rgb(0, 0, 0);
}
.bgc-gray {
    background-color: rgb(85, 85, 85);
}
.bgc-white {
    background-color: rgb(255, 255, 255);
}
.bgc-semiwhite {
    background-color: rgb(87, 97, 104);
}
.bgc-red {
    background-color: red;
}
.bgc-lightblue {
    background-color: rgb(34, 199, 240);
}
.bgc-blue {
    background-color: rgb(4, 125, 182);
}
.bgc-green {
    background-color: rgb(4, 182, 81);
}
.bgc-yellow {
    background-color: rgb(220, 232, 4);
}
.bgc-gold {
    background-color: rgb(232, 213, 4);
}
.bgc-purple {
    background-color: var(--purples);
}
.bgc-lightpurple {
    background-color: var(--lightpurples);
}

/* color */
.c-black {
    color: black;
}
.c-white {
    color: white;
}
.c-lightgray {
    color: rgb(179, 179, 179);
}
.c-lightblue {
    color: rgb(71, 209, 255);
}
.c-blue {
    color: rgb(71, 145, 255);
}
.c-red {
    color: rgb(255, 43, 43);
}
.c-semiwhite {
    color: rgba(255, 255, 255, 0.737);
}
.c-gray {
    color: rgb(138, 138, 138);
}
.c-purple {
    color: var(--purples);
}
.c-lightpurple {
    color: var(--lightpurples);
}
.f-red {
    fill: rgb(255, 43, 43);
}
.f-blue {
    fill: rgb(71, 145, 255);
}
.f-black {
    fill: black;
}

/* uni param */
.posf {
    position: fixed;
}
.posr {
    position: relative;
}
.posa {
    position: absolute;
}
.ins0 {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.lt0 {
    top: 0;
    left: 0;
}
.t0 {
    top: 0;
}
.l0 {
    left: 0;
}
.r0 {
    right: 0;
}
.b0 {
    bottom: 0;
}

.c0 {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}


.t10 {
    top: 10vh;
}
.t65 {
    top: 65vh;
}


.pad-1 {
    padding: 1px;
}

.pad-mt {
    padding-top: 5px;
}
.pad-ml {
    padding-left: 5px;
}
.pad-mr {
    padding-right: 5px;
}
.pad-mb {
    padding-bottom: 5px;
}
.pad-st {
    padding-top: 10px;
}
.pad-sl {
    padding-left: 10px;
}
.pad-sr {
    padding-right: 10px;
}
.pad-sb {
    padding-bottom: 10px;
}
.pad-nt {
    padding-top: 15px;
}
.pad-nl {
    padding-left: 15px;
}
.pad-nr {
    padding-right: 15px;
}
.pad-nb {
    padding-bottom: 15px;
}
.pad-bt {
    padding-top: 25px;
}
.pad-bl {
    padding-left: 25px;
}
.pad-br {
    padding-right: 25px;
}
.pad-bb {
    padding-bottom: 25px;
}

.pad-m {
    padding: 5px;
}
.pad-m-s {
    padding-left: 5px;
    padding-right: 5px;
}
.pad-m-v {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pad-s {
    padding: 10px;
}
.pad-s-s {
    padding-left: 10px;
    padding-right: 10px;
}
.pad-s-v {
    padding-top: 10px;
    padding-bottom: 10px;
}
.pad-n {
    padding: 15px;
}
.pad-n-s {
    padding-left: 15px;
    padding-right: 15px;
}
.pad-n-v {
    padding-top: 15px;
    padding-bottom: 15px;
}
.pad-b {
    padding: 5vw;
}
.pad-b-s {
    padding-left: 25px;
    padding-right: 25px;
}
.pad-b-v {
    padding-top: 25px;
    padding-bottom: 25px;
}

.autoMg {
    margin: auto;
}
.sideMg {
    margin: 0 auto;
}
.vertiMg {
    margin: auto 0;
}
.topMg {
    margin-top: auto;
}
.leftMg {
    margin-left: auto;
}
.rightMg {
    margin-right: auto;
}
.bottomMg {
    margin-bottom: auto;
}

.topMg-5 {
    margin-top: 5vh;
}
.leftMg-5 {
    margin-left: 5vh;
}
.rightMg-5 {
    margin-right: 5vh;
}
.bottomMg-5 {
    margin-bottom: 5vh;
}

.topMg-10 {
    margin-top: 10vh;
}
.leftMg-10 {
    margin-left: 10vh;
}
.rightMg-10 {
    margin-right: 10vh;
}
.bottomMg-10 {
    margin-bottom: 10vh;
}

.topMg-s10 {
    margin-top: 10px;
}
.leftMg-s10 {
    margin-left: 10px;
}
.rightMg-s10 {
    margin-right: 10px;
}
.bottomMg-s10 {
    margin-bottom: 10px;
}

.topMg-s5 {
    margin-top: 5px;
}
.leftMg-s5 {
    margin-left: 5px;
}
.rightMg-s5 {
    margin-right: 5px;
}
.bottomMg-s5 {
    margin-bottom: 5px;
}


/* uni size */
.w50 {
    width: 50vw;
}
.w50p {
    width: 50%;
}
.w60 {
    width: 60vw;
}
.w60p {
    width: 60%;
}
.w65 {
    width: 65vw;
}
.w65p {
    width: 65%;
}
.w70 {
    width: 70vw;
}
.w70p {
    width: 70%;
}
.w75 {
    width: 75vw;
}
.w75p {
    width: 75%;
}
.w79 {
    width: 79vw;
}
.w79p {
    width: 79%;
}
.w80 {
    width: 80vw;
}
.w80p {
    width: 80%;
}
.w88 {
    width: 88vw;
}
.w88p {
    width: 88%;
}
.w95 {
    width: 95vw;
}
.w95p {
    width: 95%;
}
.w100 {
    width: 100vw;
}
.w100p {
    width: 100%;
}

.wmaxc {
    width: max-content;
}

.h10px {
    height: calc(10px + 0.5vh + 0.5vw);
}

.h10 {
    height: 10vh;
}
.h10p {
    height: 10%;
}
.h20 {
    height: 20vh;
}
.h20p {
    height: 20%;
}
.h25 {
    height: 25vh;
}
.h25p {
    height: 25%;
}
.h30 {
    height: 30vh;
}
.h30p {
    height: 30%;
}
.h40 {
    height: 40vh;
}
.h40p {
    height: 40%;
}
.h50 {
    height: 50vh;
}
.h50p {
    height: 50%;
}
.h60 {
    height: 60vh;
}
.h60p {
    height: 60%;
}
.h70 {
    height: 70vh;
}
.h70p {
    height: 70%;
}
.h80 {
    height: 80vh;
}
.h80p {
    height: 80%;
}
.h90 {
    height: 90vh;
}
.h90p {
    height: 90%;
}
.h100 {
    height: 100vh;
}
.h100p {
    height: 100%;
}


.minw50px {
    min-width: 50px;
}
.minw100px {
    min-width: 100px;
}
.minw200 {
    min-width: 200px;
}
.minw10 {
    min-width: 10vw;
}
.minw15 {
    min-width: 15vw;
}
.minw20 {
    min-width: 20vw;
}
.minw30 {
    min-width: 30vw;
}
.minw40 {
    min-width: 40vw;
}
.minw50 {
    min-width: 50vw;
}
.minw70 {
    min-width: 70vw;
}
.minw100 {
    min-width: 100vw;
}
.minh200 {
    min-height: 200px;
}
.minh10 {
    min-height: 10vh;
}
.minh20 {
    min-height: 20vh;
}
.minh30 {
    min-height: 30vh;
}
.minh40 {
    min-height: 40vh;
}
.minh50 {
    min-height: 50vh;
}
.minh70 {
    min-height: 70vh;
}
.minh100 {
    min-height: 100vh;
}


.maxw10 {
    max-width: 10vw;
}
.maxw20 {
    max-width: 20vw;
}
.maxw30 {
    max-width: 30vw;
}
.maxw50 {
    max-width: 50vw;
}
.maxw70 {
    max-width: 70vw;
}
.maxw75 {
    max-width: 75vw;
}
.maxw100 {
    max-width: 100vw;
}
.maxw20 {
    max-width: 20%;
}
.maxw30 {
    max-width: 30%;
}
.maxw50 {
    max-width: 50%;
}
.maxw70 {
    max-width: 70%;
}
.maxw75p {
    max-width: 75%;
}

.maxh10 {
    max-height: 10vh;
}
.maxh20 {
    max-height: 20vh;
}
.maxh30 {
    max-height: 30vh;
}
.maxh40 {
    max-height: 40vh;
}
.maxh50 {
    max-height: 50vh;
}
.maxh70 {
    max-height: 70vh;
}
.maxh100 {
    max-height: 100vh;
}
.maxh20p {
    max-height: 20%;
}
.maxh30p {
    max-height: 30%;
}
.maxh40p {
    max-height: 40%;
}
.maxh50p {
    max-height: 50%;
}
.maxh70p {
    max-height: 70%;
}
.maxh100p {
    max-height: 100%;
}

/* ratio */
.r1-1 {
    aspect-ratio: 1/1;
}
.r16-9 {
    aspect-ratio: 16/9;
}
.r4-1 {
    aspect-ratio: 4/1;
}

/* uni flex */
.dp-none {
    display: none;
}

.flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.flex-r {
    flex-direction: row-reverse;
}
.fld {
    flex-direction: column;
}
.fld-r {
    flex-direction: column-reverse;
}
.wrap {
    flex-wrap: wrap;
}
.acjc {
    align-items: center;
    justify-content: center;
}
.space-between {
    justify-content: space-between;
}

.ovs {
    overflow: scroll;
}
.ovs-s {
    overflow-x: scroll;
}
.ovs-v {
    overflow-y: scroll;
}
.ovh {
    overflow: hidden;
}
.ovh-s {
    overflow-x: hidden;
}
.ovh-v {
    overflow-y: hidden;
}


.highlighted {
    background-color: rgba(255, 255, 255, 0.26);
}

.gap {
    gap: 2vw;
}
.gap-s {
    gap: 0.8vw;
}
.gap-b {
    gap: 4vw;
}
.gap10 {
    gap: 10px;
}
.gap5 {
    gap: 5px;
}

/* text param */
.txtnowrap {
    text-wrap: nowrap;
}
.txtc {
    text-align: center;
}
.txtjustify {
    text-align: justify;
}
.txtr {
    text-align: right;
}
.txt-ms {
    font-size: calc(6px + 0.4vw + 0.4vh);
}
.txt-s {
    font-size: calc(8px + 0.4vw + 0.4vh);
}
.txt-n {
    font-size: calc(15px + 0.4vw + 0.4vh);
}
.txt-b {
    font-size: calc(18px + 0.4vw + 0.4vh);
}
.txt-l {
    font-size: calc(22px + 0.4vw + 0.4vh);
}
.txt-30 {
    font-size: calc(26px + 0.4vw + 0.4vh);
}
.txt-maintext {
    font-size: calc(40px + 0.4vw + 0.4vh);
}

/* uni icon */
.icon-rs {
    height: 14px;
    aspect-ratio: 1/1;
}
.icon-m {
    height: 20px;
    aspect-ratio: 1/1;
}
.icon-s {
    width: 10vh;
    height: 10vh;
    aspect-ratio: 1/1;
}
.icon-n {
    width: 25vh;
    height: 25vh;
    aspect-ratio: 1/1;
}
.icon-b {
    width: 40vh;
    height: 40vh;
    aspect-ratio: 1/1;
}

/* uni border */
.border-none {
    border: none;
}
.border-1 {
    border: 1px solid var(--borderA);
}
.border-2 {
    border: 1px solid var(--borderB);
}
.border-3 {
    border: 1px solid rgb(49, 0, 128);
}
.border-r {
    border-right: 1px solid rgb(164, 164, 164);
}
.border-l {
    border-left: 1px solid rgb(164, 164, 164);
}
.border-t {
    border-top: 1px solid rgb(164, 164, 164);
}
.border-b {
    border-bottom: 1px solid rgb(164, 164, 164);
}
.border-purple {
    border: 1px solid var(--purplegray);
}
.border-purple-r {
    border-right: 1px solid var(--purplegray);
}
.border-purple-l {
    border-left: 1px solid var(--purplegray);
}
.border-purple-t {
    border-top: 1px solid var(--purplegray);
}
.border-purple-b {
    border-bottom: 1px solid var(--purplegray);
}

/* border radius */
.bora-s {
    border-radius: 5px;
}
.bora-n {
    border-radius: 12px;
}

/* decors */
.semibold {
    font-weight: bold;
}
.bold {
    font-weight: bolder;
}
.points {
    cursor: pointer;
}
.undline {
    text-decoration: underline;
}

.txt-shad-1 {
  text-shadow: 2px 2px 5px black;
}
.box-shad-1 {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.527);
}
.box-shad-2 {
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.527);
}

/* hovers */
.hover-opac1:hover {
    opacity: 1;
    cursor: pointer;
}

.trs500ms {
    transition: all 0.5s;
}

/* uni zindex */
.z0 {
    z-index: 0;
}
.z1 {
    z-index: 1;
}
.z2 {
    z-index: 2;
}
.z3 {
    z-index: 3;
}
.z4 {
    z-index: 4;
}
.z5 {
    z-index: 5;
}
.z10 {
    z-index: 10;
}
.z15 {
    z-index: 15;
}
.z999 {
    z-index: 999;
}

/* the rest */
.objfit {
    object-position: center;
    object-fit: contain;
}

.link-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    z-index: 20;
}

/* part of something */
.title {
    font-size: 29px;
}
.title-2 {
    font-size: 20px;
}

.desc {
    font-size: 15px;
}

.connected-unit {
    margin: 5vh auto;
    width: 88%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
}
.software {
    padding: 10px 6px;
    width: 17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.attachs {
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid white;
}
.titles {
    padding: 6px 0;
    width: 90%;
    font-size: 17px;
    text-align: center;
}


/* opacity set */

.opacity7 {
    opacity: 0.7;
}
.opacity5 {
    opacity: 0.5;
}
.opacity3 {
    opacity: 0.3;
}

/* blur effect */
.blurbg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    backdrop-filter: blur(20px);
    z-index: -1;
}

.blur-censor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: transparent;
    background: transparent;
    backdrop-filter: blur(15px);
    z-index: +1;
}
.blur-censor:hover {
    backdrop-filter: blur(0);
}

/* float notifs */

#alertcard {
    position: fixed;
    bottom: 10px;
    right: 10px;
    min-width: 2%;
    width: max-content;
    height: max-content;
    max-width: 60%;
    background: white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    transition: all 0.4s;
    transform: translateX(100vw);
    z-index: 1000;
    overflow: hidden;
}

#alertcontent {
    position: relative;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: 17px;
    color: black;
    text-align: left;
}

#borderanimate {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #474747;
    overflow: hidden;
}
#borderanimate::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #c9c9c9;
    animation: ReverseTimer 4.8s linear forwards;
}
@keyframes ReverseTimer {
    from {
        right: 0;
    }
    to {
        right: 100%;
    }
}
/* le footer */
footer {
    position: relative;
    padding: 40px 6vw 10vh 6vw;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--footbg);
    z-index: 100;
}
.footer-group {
    padding: 10px 0;
    min-width: calc(65vw + 224px);
    height: min-content;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(95, 95, 95);
}
.footer-group:nth-child(2) {
    align-items: end;
}

.menu_button {
    margin: 0 auto;
}
.footer_logo {
    margin: 0 20px 0 10px;
    aspect-ratio: 22/10;
    height: 50px;
    object-fit: cover;
    object-position: center;
}
.legal {
    margin: auto;
    height: 100%;
    text-align: center;
}

@media only screen and (orientation: portrait) {
    .mobileW95 {
        width: 95vw;
    } 
}